
main {
    display: grid;
    height: 1000px;
    max-width: 900px;
    margin: auto;
    background: lightgrey;
    grid-template-columns: 150px 1fr 100px;
}

.sidebar {
    background: lightgreen;
}

.content {
    background: lightpink;
    display: grid;
    grid-template-rows: 50px 1fr;
}

header {
    background: white;
}

.features {
    background: turquoise;
}

.locations {
    background: lightyellow;
}